<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            font-family:"montserret", sans-serif;
            background-color: rgb(53, 53, 53);
            color: aliceblue;
        }
    </style>
    <title>sign up page</title>
</head>
<body>
    <h1>Welcome to SignUP page</h1>
    <div>
        <form action="/user/signup" method="post">
            <lable>Full Name</lable>
            <input type="text" name="username" placeholder="Enter your Full Name">
            <lable>Email</lable>
            <input type="email" name="email" placeholder="Enter your email">
            <lable>Password</lable>
            <input type="text" name="password" placeholder="Enter your password">
            <input type="submit" value="Sign Up"></form>
    </div>
</body>
</html>